[Unit]
Description=Aria2 Service
Requires=network.target
After=network.target

[Service]
Type=simple
User=aria2
Group=aria2
WorkingDirectory=/var/share/aria2
ExecStart=/usr/bin/aria2c --conf-path=/etc/conf.d/aria2.conf
ExecReload=/usr/bin/kill -HUP $MAINPID
RestartSec=1min
Restart=on-failure

[Install]
WantedBy=multi-user.target
